@font-face {
	font-family: "iconfont";
	src: url('~@/static/iconfont/iconfont.ttf');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-circleyuanquan:before {
	content: "\e71e";
}

.icon-yuanquan_fill:before {
	content: "\e602";
}

.icon-xiangxia:before {
	content: "\e7d6";
}

.icon-upbxiangshang:before {
	content: "\e61d";
}

.icon-jia:before {
	content: "\e601";
}

.icon-shijian:before {
	content: "\e600";
}

.icon-ditu:before {
	content: "\e8ad";
}

.icon-feng:before {
	content: "\e6f2";
}

.icon-chushi:before {
	content: "\e6f3";
}

.icon-kongtiao-:before {
	content: "\e6f4";
}

.icon-zhire:before {
	content: "\e6f5";
}

.icon-zhileng:before {
	content: "\e6f6";
}

.icon-a-kongtiao:before {
	content: "\e6f7";
}

.icon-songfeng:before {
	content: "\e6f8";
}

.icon-fengda:before {
	content: "\e6f9";
}

.icon-anqi:before {
	content: "\e6e6";
}

.icon-lin:before {
	content: "\e6e7";
}

.icon-shidu:before {
	content: "\e6e8";
}

.icon-dan:before {
	content: "\e6e9";
}

.icon-zao:before {
	content: "\e6ea";
}

.icon-turangPH:before {
	content: "\e6eb";
}

.icon-turangec:before {
	content: "\e6ec";
}

.icon-eryanghuatan:before {
	content: "\e6ed";
}

.icon-linbeifen:before {
	content: "\e6ee";
}

.icon-wendu:before {
	content: "\e6ef";
}

.icon-turangwendu:before {
	content: "\e6f0";
}

.icon-turangshidu:before {
	content: "\e6f1";
}

.icon-biyan:before {
	content: "\e6ca";
}

.icon-gouxuan:before {
	content: "\e6cb";
}

.icon-shanchu:before {
	content: "\e6cc";
}

.icon-bianji:before {
	content: "\e6cd";
}

.icon-dingwei:before {
	content: "\e6ce";
}

.icon-dianhua:before {
	content: "\e6cf";
}

.icon-guanbi:before {
	content: "\e6d0";
}

.icon-lianxiwomen:before {
	content: "\e6d1";
}

.icon-xiaoxizhongxin:before {
	content: "\e6d2";
}

.icon-baojingshezhi:before {
	content: "\e6d3";
}

.icon-chengyuanguanli:before {
	content: "\e6d4";
}

.icon-a-tap-shezhixianshi-weixuanzhongbeifen6:before {
	content: "\e6d5";
}

.icon-weigouxuan:before {
	content: "\e6d6";
}

.icon-shijian-kong:before {
	content: "\e6d7";
}

.icon-a-tap-shezhixianshi-weixuanzhongbeifen3:before {
	content: "\e6d8";
}

.icon-a-guanbi-beijing:before {
	content: "\e6d9";
}

.icon-lixian:before {
	content: "\e6da";
}

.icon-tianjia:before {
	content: "\e6db";
}

.icon-zhengyan:before {
	content: "\e6dc";
}

.icon-sousuo:before {
	content: "\e6dd";
}

.icon-yijianfankui:before {
	content: "\e6de";
}

.icon-a-tap-shezhixianshi-weixuanzhongbeifen9:before {
	content: "\e6df";
}

.icon-jiantou:before {
	content: "\e6e0";
}

.icon-saoyisao:before {
	content: "\e6e1";
}

.icon-a-tap-shezhixianshi-weixuanzhongbeifen7:before {
	content: "\e6e2";
}

.icon-a-tap-shezhixianshi-weixuanzhongbeifen8:before {
	content: "\e6e3";
}

.icon-shezhi:before {
	content: "\e6e4";
}

.icon-a-tap-shezhixianshi-weixuanzhongbeifen4:before {
	content: "\e6e5";
}

.icon-qing:before {
	content: "\e607";
}

.icon-xiaoyu:before {
	content: "\e608";
}

.icon-dayu:before {
	content: "\e609";
}

.icon-duoyun:before {
	content: "\e60a";
}

.icon-yintian:before {
	content: "\e60b";
}

.icon-zhenyu:before {
	content: "\e60c";
}

.icon-zhongyu:before {
	content: "\e60d";
}

.icon-baoyu:before {
	content: "\e60e";
}

.icon-leizhenyu:before {
	content: "\e60f";
}

.icon-tedabaoyu:before {
	content: "\e610";
}

.icon-dabaoyu:before {
	content: "\e611";
}

.icon-xiaoxue:before {
	content: "\e612";
}

.icon-zhenxue:before {
	content: "\e613";
}

.icon-baoxue:before {
	content: "\e614";
}

.icon-daxue:before {
	content: "\e615";
}

.icon-wu:before {
	content: "\e616";
}

.icon-shachenbao:before {
	content: "\e617";
}

.icon-dongyu:before {
	content: "\e618";
}

.icon-shachen:before {
	content: "\e619";
}

.icon-qiangshachenbao:before {
	content: "\e61a";
}

.icon-yangsha:before {
	content: "\e61b";
}

.icon-mai:before {
	content: "\e61c";
}
